{% extends 'base.html' %}
{% block content %}
<h1>Изменение пароля</h1>
<form method="POST">
    <div class="mb-3">
        <label for="old_password" class="form-label">Старый пароль</label>
        <input type="password" name="oldpassword" class="form-control" id="old_password" value={{ password_data.old_password or ''}}>
    </div>
    <div class="mb-3">
        <label for="new_password" class="form-label">Новый пароль</label>
        <input type="password" name="newpassword" class="form-control" id="new_password" value={{ password_data.new_password or ''}}>
    </div>
    <div class="mb-3">
        <label for="confirm_new_password" class="form-label">Повторите новый пароль</label>
        <input type="password" name="confirmnewpassword" class="form-control" id="confirm_new_password" value={{ password_data.confirm_new_password or ''}}>
    </div>
    {% if errors.old_new_password_error %}
            <span style="color: red;">{{ errors.old_new_password_error }}</span>
    {% endif %}
    <button type="submit" class="btn btn-primary">Изменить пароль</button>
</form>
{% endblock %}
